@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif !important;
}
a {
    text-decoration: none;
}
figure {
    margin: 0;
    padding: 0;
}
.btn:focus {
    outline: none;
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a,button{
    display: inline-block;
}
button:focus {
    outline: none;
    box-shadow: none;
}
select{
    cursor: pointer;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
}

/************************** Choose Us css **************************/
.sec-why-choose {
    padding: 50px 0;
    background: #F8F3EA;
}
.sec-why-choose .sec-title h2{
    color: #014E7F;
    font-size: 28px;
    font-weight: 600;
    position: relative;
    padding-left: 40px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.sec-why-choose .sec-title h2::before {
    content: '';
    background: #014E7F;
    width: 37px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.sec-why-choose .sec-title .para {
    margin-top: 50px;
    font-size: 16px;
    font-weight: 300;
}
.sec-why-choose .choose-box {
    margin-top: 40px;
}
.sec-why-choose .choose-box .card-box {
    background: #fffcf7;
    padding: 50px 30px;
    border-left: 15px solid #457B6D;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
}
.sec-why-choose .choose-box .card-box .img-box {
    text-align: center;
    margin-bottom: 20px;
}
.sec-why-choose .choose-box .card-box .img-box img{
    height: 80px;
    object-fit: contain;
    width: 90px;
} 
.sec-why-choose .choose-box .card-box h6 {
    font-size: 24px;
    font-weight: 700;
    color:  #9D9B9B;
    padding-bottom: 15px;
}
.sec-why-choose .choose-box .card-box h2 {    
    font-size: 24px;    
    font-weight: 500;    
    color: #000;
}
.sec-why-choose .choose-box .card-box ul {   
    list-style: disc;   
    padding: 10px 0 0 30px;
}
.sec-why-choose .choose-box .card-box li {
    font-size: 16px;    
    font-weight: 400;    
    color: #000;
}

/************************** Choose Us css end **************************/

/************************** media-query **************************/

@media only screen and (min-width: 1921px) and (max-width: 7368px) {}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {}

@media only screen and (min-width: 1445px) and (max-width: 1599px) {}

@media only screen and (min-width: 1366px) and (max-width: 1444px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 520px) and (max-width: 767px) {}

@media only screen and (min-width: 300px) and (max-width: 519px) {}