@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif !important;
}
a {
    text-decoration: none;
}
figure {
    margin: 0;
    padding: 0;
}
.btn:focus {
    outline: none;
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a,button{
    display: inline-block;
}
button:focus {
    outline: none;
    box-shadow: none;
}
select{
    cursor: pointer;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
}

/************************** Donate css **************************/
.case-study {
    padding: 60px 0;
    background: #F8F3EA;
}
.case-study .donate-box {
    background: #B5D5D4;
    padding: 30px 25px;
    border-radius: 20px;
}
.case-study .donate-box .img-box {
    position: relative;
    margin-bottom: 30px;
}
.case-study .donate-box .img-box img {
    border: 1px solid #000;
    border-radius: 10px;
}
.case-study .donate-box .img-box .donate-btn{  
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    background: #014E7F;
    padding: 10px 26px;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
}
.case-study .donate-box .bar-list{    
    display: flex;    
    align-items: center;   
    justify-content: space-between;   
    padding: 10px 0;
}
.case-study .donate-box .bar-list li{   
    font-size: 18px;  
    font-weight: 500;
    color: #2D2929;
}
.case-study .donate-box .lower-content {
    margin-top: 20px;
}
.case-study .donate-box .lower-content h6{   
    font-size: 22px;  
    font-weight: 600;    
    color: #014E7F;
}
.case-study .donate-box .lower-content .para{padding: 10px 0;font-weight: 300;}
.case-study .donate-box .lower-content .arrow-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.case-study .donate-box .lower-content .arrow-right a {
    color: #000;
    font-size: 22px;
}
.progress {
    height: 0.7rem !important;
    margin: 5px 0;
}
.progress-bar {
    background-color: #014E7F !important;
}
/************************** Donate css end **************************/

/************************** media-query **************************/

@media only screen and (min-width: 1921px) and (max-width: 7368px) {}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {}

@media only screen and (min-width: 1445px) and (max-width: 1599px) {}

@media only screen and (min-width: 1366px) and (max-width: 1444px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 520px) and (max-width: 767px) {}

@media only screen and (min-width: 300px) and (max-width: 519px) {}