@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif !important;
}
a {
    text-decoration: none;
}
figure {
    margin: 0;
    padding: 0;
}
.btn:focus {
    outline: none;
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a,button{
    display: inline-block;
}
button:focus {
    outline: none;
    box-shadow: none;
}
select{
    cursor: pointer;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
}

/************************** Banner css **************************/
.Main-banner {
    padding: 40px 0;
    background: #F8F3EA;
}
.Main-banner .content-box {
    text-align: center;
}
.Main-banner .content-box h2 {
    font-size: 54px;
    font-weight: 600;
    color: #02627B;
}
.Main-banner .content-box .para {
    font-size: 15px;
    padding: 10px 0;
    color: #000;
    line-height: 23px;
}
.Main-banner .content-box .banner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.Main-banner .content-box .banner-btn li {
    padding: 0 30px;
}
.Main-banner .content-box .banner-btn li .donate-btn {
    background-color: #6F978B;
    border: 2px solid #6F978B;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    transition: 0.5s;
}
.Main-banner .content-box .banner-btn li .donate-btn:hover {
    background-color: transparent;
    border: 2px solid #6F978B;
    color: #6F978B;
}
.Main-banner .content-box .banner-btn li .video-btn {
    background-color: transparent;
    border: 2px solid #6F978B;
    padding: 10px 30px;
    border-radius: 10px;
    color: #6F978B;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
}
.Main-banner .content-box .banner-btn li .video-btn:hover {
    background-color: #6F978B;
    border: 2px solid #6F978B;
    color: #fff;
}

.Main-banner .lower-box {
    padding-top: 70px;
}
.Main-banner .lower-box .img-card .img-box img {
    border-radius: 10px;
}
.Main-banner .lower-box .img-card .text-box-1 {
    background: #B5D5D4;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
.Main-banner .lower-box .img-card  .text-box-2 {
    background: #02627B;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
.Main-banner .lower-box .img-card  .text-box-2 .short-text {
    color: #fff;
    margin: 0;
    padding: 10px 3px;
}
.short-text {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
/************************** Banner css end **************************/

/************************** media-query **************************/

@media only screen and (min-width: 1921px) and (max-width: 7368px) {}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {}

@media only screen and (min-width: 1445px) and (max-width: 1599px) {}

@media only screen and (min-width: 1366px) and (max-width: 1444px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 520px) and (max-width: 767px) {}

@media only screen and (min-width: 300px) and (max-width: 519px) {}